@font-face {
  font-family: "VGA";
  src: url("../_asset/UniVGA16.ttf");
}

:root {
  --ui: #F6CA18;
  --bg: #180906;
}

/* ========== SETUP ========================================================= */
/* Reset headings */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  line-height: normal;
  font-size: initial;
  margin-block: 0 0;
  margin-inline: 0 0;
  display: initial;
}

/* Reset list */
ul {
  list-style-type: none;
  margin-block: 0 0;
  padding-inline: 0 0;
}

/* Remove form styles */
input, button {
  all: unset;
}

.displayed {
  display: initial !important;
}

.visible {
  visibility: visible !important;
}

/* ========== PAGE-WIDE CHANGES ============================================= */
html {
  background-color: var(--bg);
  color: var(--ui);
  font-family: "VGA", monospace;
}

body {
  display: grid;
  height: 100vh;
  place-content: center;
  padding: 0 1rem;
}

h1 {
  font-size: 1.2rem;
}

/* ========== SECTION ELEMENTS ============================================== */
main {
  display: flex;
  flex-flow: column nowrap;
  max-width: 635px;
  border: 3px solid var(--ui);
}

header {
  padding: 0.1rem 1.3rem 0;
  background-color: var(--ui);
  color: var(--bg);
}

/* ========== MAIN UI ======================================================= */
#container {
  display: flex;
  flex-flow: row wrap-reverse;
  align-content: center;
  justify-content: center;
}

#canvas {
  border: 1px solid var(--ui);
}

/* ========== CONSOLE ======================================================= */
#console {
  grid-area: 1 / 1;
}

#console ul {
  display: flex;
  flex-flow: column-reverse nowrap;
  height: 7rem;
  flex: 0 1 40rem;
  padding-top: 0.5rem;
  border: 1px solid var(--ui);
  overflow: scroll;
  gap: 0.1rem;
  line-height: 1.1;
}

#console li {
  display: flex;
  flex-flow: row nowrap;
  padding: 0.1rem 0.3rem 0;
  gap: 0.5rem;
}

#typing {
  display: none;
  animation: blink 0.8s step-start infinite;
  font-size: 1.1rem;
  line-height: 1.1rem;
  margin-bottom: 0.2rem;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
}

#console aside {
  filter: brightness(0.6) saturate(0.55);
}

#console .error {
  background: var(--ui);
  color: var(--bg);
}

#console .info aside {
  filter: none;
}
#console .info {
  filter: brightness(0.6) saturate(0.55);
}

/* ========== CONTROLS ====================================================== */
#input-container {
  display: grid;
  grid-template-rows: 1fr;
  overflow: hidden;
}

#controls {
  grid-area: 1 / 1;
  border: 2px solid var(--ui);
}

#controls span::before {
  content: ">";
  margin: 0 0.3rem 0 0.5rem;
}
#controls span {
  display: flex;
  flex-flow: row nowrap;
  font-size: 1.1rem;
}

#controls span input {
  flex: 1;
  margin-right: 0.75rem;
}

#controls button {
  padding: 0.15rem 0.15rem 0.15rem 0.3rem;
  margin-right: -1px;
  background: var(--ui);
  color: var(--bg);
  outline: 2px solid var(--ui);
  font-size: 1.6rem;
  line-height: 1.1rem;
}
#controls button:hover {
  background: var(--bg);
  color: var(--ui);
  cursor: pointer;
}

#controls-cover {
  z-index: 2;
  background: var(--ui);
  grid-area: 1 / 1;
}

.controls-cover-revealed {
  transition: transform 0.25s ease-in;
  transform: translateY(100%);
}

/* ========== CHANNEL INFORMATION =========================================== */
#channel-info-container {
  visibility: hidden;
  z-index: 2;
  grid-area: 1 / 1;
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
  background: var(--bg);
  border: 1px solid var(--ui);
}

#channel-info {
  margin: 0.75rem;
  padding: 0 0.5rem;
  flex-grow: 1;
  background-color: var(--bg);
}

#channel-info .item {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.25rem;
}

/* ========== EXTRANEOUS SIDEBAR ============================================ */
#under {
  display: grid;
  height: 7rem;
  grid-template-rows: 1fr;
}

#sidebar {
  display: flex;
  flex-flow: column wrap;
  gap: 1px;
  width: 127px; /* THIS WILL HAVE TO CHANGE ! */
  border: 1px solid var(--ui);
}

#loader-container {
  display: grid;
  overflow: hidden;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 1fr;
  gap: 1px;
  outline: 1px solid var(--ui);
}

#loader-cover-left {
  transition: transform 0.5s;
  z-index: 2;
  grid-area: 1 / 1 / 1 / 1;
  background: var(--ui);
}
.loader-cover-left-revealed {
  transition: transform 0.5s;
  transform: translateX(-100%) !important;
}
#loader-cover-right {
  transition: transform 0.5s;
  z-index: 2;
  grid-area: 1 / 2 / 1 / 2;
  background-color: var(--ui);
}
.loader-cover-right-revealed {
  transition: transform 0.5s;
  transform: translateX(100%) !important;
}

#loader {
  grid-area: 1 / 1 / 1 / 2;
  width: 125px;
  height: 125px;
  background: var(--bg);
  background-size: contain;
}

#loader.active {
  background-image: url("../_asset/gif/3.gif") !important;
}

#progress-bar-container {
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 1;
}

.progress-bar-outer {
  display: flex;
  flex-flow: column-reverse nowrap;
  flex-grow: 1;
}

#progress-bar-inner {
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
  border-left: 1px solid var(--ui);
  border-right: 1px solid var(--ui);
}

.progress-bar-filler {
  background: var(--ui);
  transition: flex-basis 0.35s ease-in-out;
}
