@font-face {
  font-family: "VGA";
  src: url("../_asset/UniVGA16.ttf");
}

:root {
  --ui: #F6CA18;
  --bg: #180906;
}

/* ========== SETUP ========================================================= */
/* Reset headings */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  line-height: normal;
  font-size: initial;
  margin-block: 0 0;
  margin-inline: 0 0;
  display: initial;
}

/* Reset list */
ul {
  list-style-type: none;
  margin-block: 0 0;
  padding-inline: 0 0;
}

/* Remove form styles */
input, button {
  all: unset;
}

.displayed {
  display: initial !important;
}

.visible {
  visibility: visible !important;
}

/* ========== PAGE-WIDE CHANGES ============================================= */
html {
  background-color: var(--bg);
  color: var(--ui);
  font-family: "VGA", monospace;
  image-rendering: pixelated;
}

body {
  display: grid;
  height: 100vh;
  place-content: center;
  padding: 0 1rem;
}

h1 {
  font-size: 1.2rem;
}

/* ========== SECTION ELEMENTS ============================================== */
main {
  display: flex;
  flex-flow: column nowrap;
  border: 3px solid var(--ui);
}

header {
  padding: 0.2rem 0.25rem 0.2rem 1.3rem;
  background-color: var(--ui);
  color: var(--bg);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

/* ========== MAIN UI ======================================================= */
#container {
  display: flex;
  flex-flow: row wrap-reverse;
  align-content: center;
  justify-content: center;
  background: var(--ui);
}

#canvas-container {
  display: grid;
  grid-template-rows: 1fr;
  overflow: hidden;
}

#canvas-cover {
  grid-area: 1 / 1;
  z-index: 2;
  background-color: var(--ui);
  transform: translateY(-100%);
  transition: transform 0.35s ease-in;
  padding: 0.2rem;
}
#canvas-cover > div {
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  border: 1px solid var(--bg);
}

.canvas-covered {
  transform: translateY(0) !important;
}

#canvas {
  grid-area: 1 / 1;
  border: 1px solid var(--ui);
  background: var(--bg);
}

nav {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.3rem;
}

nav span {
  background-color: var(--ui);
  max-height: 20px;
}

.nav-button {
  display: block;
  background-size: contain;
  cursor: pointer;
  padding: 1px;
  border-radius: 2px;
}
.nav-button div {
  padding: 2px;
  width: 16px;
  height: 16px;
  border-radius: 2px;
}
.nav-button:hover {
  outline: 1px solid var(--bg);
}
.nav-button:active {
  outline: unset;
  background-color: var(--bg);
}
#close {
  background-image: url("../_asset/svg/power-inv.svg");
}
#github {
  background-image: url("../_asset/svg/github-inv.svg");
}
#arena {
  background-image: url("../_asset/svg/arena-inv.svg");
}

#close:active {
  background-image: url("../_asset/svg/power.svg");
}
#github:active {
  background-image: url("../_asset/svg/github.svg");
}
#arena:active {
  background-image: url("../_asset/svg/arena.svg");
}

/* ========== CONSOLE ======================================================= */
#console {
  grid-area: 1 / 1;
}

#console ul {
  display: flex;
  flex-flow: column-reverse nowrap;
  height: 7rem;
  padding-top: 0.5rem;
  border: 1px solid var(--ui);
  overflow: scroll;
  gap: 0.1rem;
  line-height: 1.1;
}

#console li {
  display: flex;
  flex-flow: row nowrap;
  padding: 0.1rem 0.3rem 0;
  gap: 0.5rem;
}

#typing {
  display: none;
  animation: blink 0.8s step-start infinite;
  font-size: 1.1rem;
  line-height: 1.1rem;
  margin-bottom: 0.2rem;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
}

#console aside {
  filter: brightness(0.6) saturate(0.55);
}

#console .error {
  background: var(--ui);
  color: var(--bg);
}

#console .info aside {
  filter: none;
}
#console .info {
  filter: brightness(0.6) saturate(0.55);
}

/* ========== CONTROLS ====================================================== */
#input-container {
  display: grid;
  grid-template-rows: 1fr;
  overflow: hidden;
}

#controls {
  grid-area: 1 / 1;
  border: 2px solid var(--ui);
}

#controls span::before {
  content: ">";
  margin: 0 0.3rem 0 0.5rem;
}
#controls span {
  display: flex;
  flex-flow: row nowrap;
  font-size: 1.1rem;
}

#controls span input {
  flex: 1;
  margin-right: 0.75rem;
}

#controls button {
  padding: 0.15rem 0.15rem 0.15rem 0.3rem;
  margin-right: -1px;
  background: var(--ui);
  color: var(--bg);
  outline: 2px solid var(--ui);
  font-size: 1.6rem;
  line-height: 1.1rem;
}
#controls button:hover {
  background: var(--bg);
  color: var(--ui);
  cursor: pointer;
}

#controls-cover {
  z-index: 2;
  background: var(--ui);
  grid-area: 1 / 1;
}

.controls-cover-revealed {
  transition: transform 0.25s ease-in;
  transform: translateY(100%);
}

/* ========== CHANNEL INFORMATION =========================================== */
#channel-info-container {
  visibility: hidden;
  z-index: 2;
  grid-area: 1 / 1;
  display: flex;
  flex-flow: column nowrap;
  background: var(--bg);
  border: 1px solid var(--ui);
  max-width: 100%;
}

#channel-info {
  margin: 0.75rem;
  padding: 0 0.5rem;
  flex-grow: 1;
  max-width: 100%;
  background-color: var(--bg);
  display: flex;
  flex-flow: column nowrap;
  gap: 0;
  justify-content: center;
}

#channel-info .item {
  display: flex;
  flex-flow: row nowrap;
  gap: .25rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 1.35rem;
}

/* ========== EXTRANEOUS SIDEBAR ============================================ */
#under {
  display: grid;
  height: 7rem;
  grid-template-rows: 1fr;
  overflow: hidden;
  outline: 1px solid var(--ui);
}

#sidebar {
  display: flex;
  flex-wrap: nowrap;
  gap: 1px;
  border: 1px solid var(--ui);
  background: var(--bg);
}

#loader-container {
  display: grid;
  overflow: hidden;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 1fr;
  gap: 1px;
  outline: 1px solid var(--ui);
}

#loader-cover-left {
  transition: transform 0.5s;
  z-index: 2;
  grid-area: 1 / 1 / 1 / 1;
  background: var(--ui);
}
.loader-cover-left-revealed {
  transition: transform 0.5s;
  transform: translateX(-100%) !important;
}
#loader-cover-right {
  transition: transform 0.5s;
  z-index: 2;
  grid-area: 1 / 2 / 1 / 2;
  background-color: var(--ui);
}
.loader-cover-right-revealed {
  transition: transform 0.5s;
  transform: translateX(100%) !important;
}

#loader {
  grid-area: 1 / 1 / 1 / 2;
  background-color: var(--bg);
  background-size: contain;
}

#loader.active {
  background-image: url("../_asset/gif/3.gif") !important;
}

#progress-outer-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  flex-grow: 1;
  align-content: stretch;
}

#progress-background-lines {
  grid-area: 1 / 1 / 1 / 1;
  display: flex;
  flex-wrap: nowrap;
  gap: 1px;
  background: var(--ui);
}

#progress-background-lines .sep {
  flex-grow: 1;
  background: var(--bg);
}

#progress-bar-container {
  grid-area: 1 / 1 / 1 / 1;
  z-index: 2;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 18%;
}

.progress-bar {
  height: 90%;
  display: flex;
  flex-basis: 28%;
  flex-wrap: nowrap;
  background: var(--bg);
  outline: 1px solid var(--ui);
}

.progress-bar-filler {
  margin: 2px;
  background: var(--ui);
  transition: flex-basis 0.35s ease-in-out;
}
