@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@800&family=Montserrat:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Zen+Antique+Soft&display=swap');
/* Available typefaces:
  Montserrat: body sans
  Zen Antique Soft: simple serif (no bold or italic)
  Inknut Antiqua: display
*/


/* ========== PAGEWIDE CHANGES ============================================== */
* {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

html {
  background: radial-gradient(lightgreen, limegreen);
  background-repeat: no-repeat;
  color: darkslateblue;
}

/* ========== PAGEWIDE ELEMENTS ============================================= */
h1, h2 {
  font-family: 'Inknut Antiqua', serif;
  font-weight: 800;
}
h3, h4, h5, h6 {
  font-family: 'Zen Antique Soft', serif;
  font-weight: 300;
}
hr {
  border: 0;
  height: 1px;
  background: darkblue;
}

/* ========== SECTION ELEMENTS ============================================== */
header {
  padding: 2rem 3rem 2rem;
}
header h1 {
  padding: 0 0 .2rem .75rem;
}

main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 1rem;
}

main > div {
  border: 1px solid lemonchiffon;
  box-shadow: 0 0 10px 0 white;
  display: flex;
  flex-flow: column nowrap;
  gap: 0.75rem;
}

main > div + div {
  background: lightgreen;
}

main > div:has(span) {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

main > div > span {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.5rem;
  align-self: flex-start;
  padding: 0 0.75rem;
  align-items: center;
}

main > div > span button {
  width: 2rem;
  text-align: center;
  color: ivory;
  background: forestgreen;
  border-color: mediumseagreen;
}

main > div > span button:hover {
  filter: brightness(1.1);
}
main > div > span button:active {
  filter: brightness(0.9);
}
